<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Quotable Quotes User Dashboard</title>
        {% load static %}
        <link rel='stylesheet' href="{% static 'quotes/css/main.css' %}" media='screen' title='no title' charset='utf-8'>
    </head>
    <body>
        <a href='/'>Log Out</a>
        {% if messages %}
        <div class='messages'>
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <h2>Welcome, {{profile.name}}</h2>
        <div id='left'>
            {% for quote in quotes %}
            <div class='quotes'>
                <p>{{quote.name}}: {{quote.content}}</p>
                <p>Posted By <a href='{{quote.poster}}/show'>{{quote.poster}}</a></p>
                <a href='{{quote.name}}/favorite'><button>Add to List</button></a>
            </div>
            {% endfor %}
        </div>
        <div id ='right'>
            <h2>Favorited Quotes</h2>
                {% for favorite in favorites %}
                <div class='quotes'>
                    <p>{{favorite.name}}: {{favorite.content}}</p>
                    <p>Posted By <a href='{{quote.poster}}/show'>{{favorite.poster}}</a></p>
                    <a href='{{quote.name}}/favorite'><button>Remove from List</button></a>
                </div>
                {% endfor %}
            <h2>Contribute a Quote</h2>
            <form action ='dashboard/add' method='post'>
                {% csrf_token %}
                Quoted By: <input type='text' name='author' placeholder='Enter Author'><br>
                Message: <input type='text'  name='message' placeholder='Enter Quote'><br>
                <input type='submit' value='Submit'>
            </form>
        </div>
    </body>
</html>